{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "proseWrap": "always",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSameLine": false
}
