@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fonts-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
